/*.block-search-room {
	width: 380px;
  margin-top: 4.5%;
  margin-left: 12.2%;
  margin-bottom: 29%;
  background: #ffffff;
  padding: 30px;
  padding-top: 40px;
  box-sizing: border-box; 
  color: #1F2041;
}

.datepicker__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.block-search-room__title {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.datepicker__label {
  display: inline-block;
  width: 150px;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.datepicker-here,
.departure,
.select-visitors {
  width: 150px;
  margin-top: 5px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 8px 15px;

  color: rgba(31, 32, 65, 0.75);
}

.datepicker__label--here {
  margin-right: 20px;
}

.datepicker__label--visitors {
  margin-top: 20px;
  width: 100%;
}

.select-visitors {
  width: 100%;
  text-transform: none;
}

.datepicker__button {
  width: 100%;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
  border: none;
  margin-top: 30px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  height: 44px;
  border-radius: 22px;
}*/