section.standart-buttons
	h1.standart-buttons__title Standard buttons
	div.standart-buttons__inner
		button.standart-button.standart-button--green.standart-button--small Button
			span.no-active
		button.standart-button.standart-button--green Button
			span.no-active
		button.standart-button.standart-button--red Button
			span.no-active
		button.standart-button.standart-button--red.standart-button--small Button
			span.no-active
