section.messaging
	h1.messaging__title Messaging
	div.messaging__wrapper
		header.messaging__header
			h2.messaging__name-user Sarah Brown
			div.messaging__inner
				img.messaging__userpic(src="../images/user-woman.jpg")
		div.messaging__main
			div.messaging__icons
				a.messaging__icon.messaging__icon--chat(href="#") chat
				a.messaging__icon.messaging__icon--camera(href="#") camera		
			p.message-bubble Hey! So are we cool to mett at the art gallery? Say 8 pm
			p.reply-box Yeah that sounds great. See you then.
			button.messaging__button Reply