/*@font-face {
  font-family: Lato-Black; 
  src: url('../fonts/Lato-Black.eot');
  src: url('../fonts/Lato-Black.ttf');
  src: url('../fonts/Lato-Black.woff'); 
}*/

@font-face {
  font-family: Montserrat; 
  src: url('../fonts/montserrat.ttf');
  src: url('../fonts/montserrat.woff'); 
  src: url('../fonts/montserrat.woff2'); 
}

@font-face {
  font-family: Montserrat-Bold; 
  src: url('../fonts/montserratbold.ttf');
  src: url('../fonts/montserratbold.woff'); 
  src: url('../fonts/montserratbold.woff2'); 
}