section.sliders
	h2.title.sliders__title Sliders
	div.slider__inner
		div.slider
			div.slider__wrapper(style="left: 10px;")
				input.slider__value(type="text" name="value-slider" value="0")
		div.slider-two(id="slider")
			div.thumb
			div.range-line
			div.slider-values
				span 0
				span 25
				span 50 
				span 75
				span 100