section.stages
	h1.title.stages__title Stages
	div.stages__wrapper
		div.stage
			div.stage__number.active 1
			div.stage__line
				div.stage__fill(style="right: 170px;")
		div.stage
			div.stage__number 2
			div.stage__line
				div.stage__fill(style="right: 170px;")
		div.stage
			div.stage__number 3
			div.stage__line
				div.stage__fill(style="right: 170px;")
		div.stage
			div.stage__number 4
			div.stage__line
				div.stage__fill(style="right: 170px;")
		div.stage
			div.stage__number 5