header.header
  a.logo.header__logo(href="#") 
    img(alt="Лого <Токсин>" src="../img/logo.png")
  nav.cite-nav.header__cite-nav
    ul.cite-nav__list
      li.cite-nav__item
        a.cite-nav__link(href="#") О нас
      li.cite-nav__item 
        a.cite-nav__link.cite-nav__link--select(href="#") Услуги
      li.cite-nav__item 
        a.cite-nav__link(href="#") Вакансии
      li.cite-nav__item
        a.cite-nav__link(href="#") Новости
      li.cite-nav__item 
        a.cite-nav__link.cite-nav__link--select(href="#") Соглашения
  nav.user-nav.header__user-nav
    a.login.user-nav__login(href="#") Войти
    a.btn.sign-up.user-nav__sign-up(href="#") Зарегистрироваться