section.profiles
	h1.title.profiles__title User profile
	div.user.user--man
		img.user__pic(src="../images/user-man.jpg")
		div.user__info
			p.user__name John Smith
			p.user__position Ux Designer
			div.social
				a.social__btn.social__btn--facebook(href="#")
				a.social__btn.social__btn--twitter(href="#")
				a.social__btn.social__btn--dribbble(href="#")

	div.user.user--woman
		img.user__pic(src="../images/user-woman.jpg")
		div.user__info
			p.user__name Sarah Brown
			p.user__position Developer
			div.social
				a.social__btn.social__btn--facebook(href="#")
				a.social__btn.social__btn--twitter(href="#")
				a.social__btn.social__btn--dribbble(href="#")