section.calendar
	h1.calendar__title Calendar 
	div.calendar-wrapper
		div.today-date
		button(id="btnPrev" type="button") 
			img(src="../images/left-hover.png" width="20" heigth="20")
		button(id="btnNext" type="button")
			img(src="../images/rigth-hover.png" width="20" heigth="20")
		div(id="divCal")
		div.calendar-footer Today
