footer.main-footer
  div.main-footer__inner.main-footer__inner--top.container
    div.main-footer__text-wrap
      img.main-footer__logo(src="#")
      p.main-footer__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    nav.main-footer__nav
      h4.main-footer__title Навигация
      ul.main-footer__list
        li.main-footer__item
          a.main-footer__link(href="#") О нас
        li.main-footer__item
          a.main-footer__link(href="#") Новости
        li.main-footer__item
          a.main-footer__link(href="#") Служба поддержки
        li.main-footer__item
          a.main-footer__link(href="#") Услуги
    div.about-us 
      h4.about-us__title О нас 
      ul.about-us__list 
        li.about-us__item
          a.about-us__link(href="#") О сервисе
        li.about-us__item
          a.about-us__link(href="#") Наша команда
        li.about-us__item
          a.about-us__link(href="#") Вакансии
        li.about-us__item
          a.about-us__link(href="#") Инвесторы
    div.support
      h4.support__title Служба поддержки
      ul.support__list
        li.support__item
          a.support__link(href="#") Соглашения
        li.support__item
          a.support__link(href="#") Сообщества
        li.support__item
          a.support__link(href="#") Связь с нами
    div.subscribe
      h4.subscibe__title Подписка
      p.subscribe__text Получайте специальные предложения и новости сервиса
      form.subscribe__email(action="#" method="post")
        input.email(type="text" placeholder="Email")
  div.main-footer__inner.main-footer__inner--bottom.container
    p.copyrigth Copyright © 2018 Toxin отель. Все права зачищены.
    div.social.footer__social
      a.social-btn.social-btn--twitter(href="#") twitter
      a.social-btn.social-btn--facebok(href="#") facebook
      a.social-btn.social-btn--inst(href="#") instagramm