footer.footer
  div.footer-wrapper.footer-wrapper--top
    div.wrapper-logo
      img.footer__logo(src="#")
      p.footer__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    nav.nav-footer.footer__nav-footer
      h4.nav-footer__title Навигация
      ul.nav-footer__list
        li.nav-footer__item
          a.nav-footer__link(href="#") О нас
        li.nav-footer__item
          a.nav-footer__link(href="#") Новости
        li.nav-footer__item
          a.nav-footer__link(href="#") Служба поддержки
        li.nav-footer__item
          a.nav-footer__link(href="#") Услуги
    div.about-us
      h4.about-us__title О нас
      ul.about-us__list
        li.about-us__item 
          a.about-us__link О сервисе
        li.about-us__item 
          a.about-us__link Наша команда
        li.about-us__item 
          a.about-us__link Вакансии
        li.about-us__item 
          a.about-us__link Инвесторы
    div.support
      h4.support__title Служба поддержки
      ul.support__list
        li.about-us__item 
          a.about-us__link Соглашения
        li.about-us__item 
          a.about-us__link Сообщества
        li.about-us__item 
          a.about-us__link Связь с нами
    div.subscibe
      h4.subscibe__title Подписка
      p.subscribe__text Получайте специальные предложения и новости сервиса
      form.subscribe__email
        input.email(type="text" placeholder="Email")
  div.footer-wrapper--bottom
    p.copyrigth Copyright © 2018 Toxin отель. Все права зачищены.
    div.social.footer__social
      a.social-btn.social-btn--twitter(href="#") twitter
      a.social-btn.social-btn--facebok(href="#") facebook
      a.social-btn.social-btn--inst(href="#") instagramm
