section.news
	h1.news__title News & Events
	div.news__wrapper
		div.news-events
			img.news-events__img(src="../images/news-font.jpg")
			div.news-events__inner
				h2.news-events__title It`s all going downhill
				p.news-events__data
					span.news-events__day 24
					span.news-events__month August
					span.news-events__year 2013
				p.news-events__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.
		
		div.news-events.news-events--green
			img.news-events__img(src="../images/news-fon-2.jpg")
			div.news-events__inner
				p.news-events__data
					span.news-events__day 24
					span.news-events__month Aug
				h2.news-events__title This is the title
				p.news-events__text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				button.news-events__button Add to calendar