main.catalog-page
  include ../sidebar/sidebar.pug
  section.catalog
    h2.catalog__title Номера, которые мы для вас подобрали
    ul.catalog__list
      li.catalog__item
    div.page-number.catalog__page-number
      ul.page-number__list
        li.page-number__item
          a.page-number__link.page-number__link--active 1
        li.page-number__item
          a.page-number__link.page-number__link 2
        li.page-number__item
          a.page-number__link.page-number__link 3
        li.page-number__item
          a.page-number__link.page-number__link ...
        li.page-number__item
          a.page-number__link.page-number__link 15
        li.page-number__item
          a.page-number__link.page-number__link--next Next
      p.page-number__text 1-12 из 100+ вариантов аренды 

  //- шаблон для блока (удобства номера)
  template(id="card")
    section.card-block
      section.card-gallery
        figure.card-gallery__content
          a.card-gallery__link(href="#")
            img.card-gallery__img(src="#" alt="#")
          a.card-gallery__link(href="#")
            img.card-gallery__img(src="#" alt="#")
          a.card-gallery__link(href="#")
            img.card-gallery__img(src="#" alt="#")
          a.card-gallery__link(href="#")
            img.card-gallery__img(src="#" alt="#")

          button.bnt.card-gallery__bnt.card-gallery__bnt--prev(onclick="minusSlide()") &#10094;
          button.bnt.card-gallery__bnt.card-gallery__bnt--next(onclick="plusSlide()") &#10095;
          div.card-gallery__dots
            span.card-gallery__dots-item(onclick="currentSlide(1)")
            span.card-gallery__dots-item(onclick="currentSlide(2)")
            span.card-gallery__dots-item(onclick="currentSlide(3)")
        div.card-info
          span.card-info__number-room №888 <span class="lux">люкс</span>
          span.card-info__price 9990 <span class="currency">P</span><span>В сутки</span>
          div.card-info__inner
            div.card-info__rating
              span.star-rating.star-rating--one
              span.star-rating.star-rating--two
              span.star-rating.star-rating--three
              span.star-rating.star-rating--four
              span.star-rating.star-rating--five
            div.card-info__comments
              a.card-info__comments-count 145 <span>отзывов</span>