doctype html
html(lang="ru-RU")
  head
  body
  div(id="fullpage")
    div.section.active
    //- include components/section-one/standart-buttons
    //- include components/section-one/arrow-buttons
    div.section.section--two
      h1.pie-wrapper__title percentages/pie chart
      img.img(src="../img/camera.png")
      img.img(src="../img/close.svg")
      section.pie-wrapper
