section.maps
	h1.maps__title Location
	div(id="map" style="width: 800px; height: 400px")
		div.map-content
			p.map-content__text Meet us!
			p.map-content__adress 1259 California St Sanfrancisco, Ca
			span.map-content__icon.map-content__icon--local
			span.map-content__icon.map-content__icon--pin